ul {
  list-style-type: none;
}
body {
  padding: 24px 156px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  height: 696px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
}
.gallery-item {
  transition: transform 0.2s;
}
.gallery-item:hover {
  transform: scale(1.05);
}
